<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/event.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
  <div class="event-container">
    <div class="event-control">
      <a href="#" class="btn btn-edit">v</a>
      <a href="#" class="btn btn-delete">x</a>
    </div>

    <div class="event-content btn">
      <div class="event-img-container"><img src="../img/coconIT-logo-name.jpg">
      </div>
      <p class="event-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
    </div>
  </div>
</body>

</html>
