.event-content.btn {
  width: 310px;
  height: 310px;
  background: url(../img/Pacman1.png) no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 5px 0 #4c341b;
  text-align: center;
  padding: 40px;
}

.event-container {
  width: 500px;
  height: auto;
  position: relative;
  display: inline-block;
}

.event-control {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
}

.event-control .btn {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  min-width: 40px;
  font-size: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #00b593;
  text-align: center;
  color: #fff;
  box-shadow: 0 5px 0 #003024;
}

.event-img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0px 0 0 80px;
}

.event-img-container img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-text {
  font-size: 2em;
  margin-top: 66px;
}
