/*-------------------*\

#GENERALS

\*-------------------*/

body {
  font: 14px "Lucida Grande", cursive;
}

a,
.btn {
  text-decoration: none;
  border-bottom: 5px solid;
}

a,
.btn:active {
  border: none;
}
