/*-------------------*\

#GENERALS

\*-------------------*/

body {
  font: 14px "Lucida Grande", cursive;
}

a,
.btn {
  text-decoration: none;
}

a,
.btn:hover {
  cursor: pointer;
}

a,
.btn:active {
  box-shadow: none;
  margin-top: 5px;
}
